/* Basic Style */

body {
    background-image: url("https://media3.giphy.com/media/n3xSURtNE62t2/giphy.gif?cid=790b7611566667ebee92864b14faf2339bf0e1ba8cb413af&rid=giphy.gif");
    color: rgb(17, 16, 16);
    font-family: Lato, sans-serif;
   }
    
  .container {
    display: block;
    width: 400px;
    margin: 100px auto 0;
  }
    
  ul {
    margin: 0;
    padding: 0;
  }
    
  li * {
    float: left;
  }
    
  li, h3 {
    clear:both;
    list-style:none;
  }
    
  input, button {
    outline: none;
  }